
<div class="ui  middle  breadcrumb">
    <a class="section" href="/signin">登录</a>
    <div class="divider">|</div>
    <a class="section" href="/signup">注册</a>
    <div class="divider">|</div>
    <a claas="section" href="/signout">注销</a>
</div>
