<%-include('header')%>
<body>

    <h1 class="ui huge center aligned teal header">Welcome to my Chat home</h1>
    <h2 class="ui middle center aligned teal header"> <a href="/chat">You has logined , click to join my chat !</a></h2>

   
 

<%-include('footer')%>