<%-include('header')%>
<body>
    
    <h1 class="ui  center aligned teal header">Welcome to my Chat home</h1>
    <h3 class="ui center aligned green header">Now You must Login to join to Chat</h2>

    <div class="ui  middle aligned one column grid">
            <div class="five wide centered column">
            <form class="ui form segment" method="post">
                <div class="field">
                    <label>用户名</label>
                    <input type="text" name="name">
                </div>
                <div class="field">
                    <label>密码</label>
                    <input type="password" name="password">
                </div>
                    <input type="submit" class="ui blue button fluid" value="登录">
            </form>
            </div> 
    </div>


<%-include('footer')%>